{% extends 'catalog/base.html' %}
{% load humanize %}
{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Skystore</h1>
    <p class="lead">Ваш лучший выбор плагинов и кода.</p>
</div>

<div class="container mb-3 text-end">
    {% if user.is_authenticated %}
    <a href="{% url 'catalog:product_create' %}" class="btn btn-primary">Добавить товар</a>
    {% endif %}
</div>

<div class="container">
    <div class="row">
        {% for product in object_list %}
        <div class="col-md-4 mb-4">
            <div class="card h-100 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal text-center">{{ product.name }}</h4>
                </div>
                <div class="card-body d-flex flex-column">
                    {% if product.image %}
                    <img src="{{ product.image.url }}" class="img-fluid mb-3 rounded"
                         style="height: 200px; object-fit: cover;" alt="{{ product.name }}">
                    {% endif %}

                    <h1 class="card-title pricing-card-title text-center">
                        {{ product.price|intcomma }} <small class="text-muted">руб.</small>
                    </h1>

                    <p class="card-text flex-grow-1">{{ product.description|truncatechars:100 }}</p>

                    <div class="btn-group mt-auto">
                        <a href="{% url 'catalog:product_detail' product.pk %}" class="btn btn-sm btn-outline-primary">Посмотреть</a>

                        {% if user.is_authenticated %}
                        {# Изменить может владелец ИЛИ модератор (у которого есть спец. право) #}
                        {% if user == product.owner or perms.catalog.can_unpublish_product %}
                        <a href="{% url 'catalog:product_update' product.pk %}"
                           class="btn btn-sm btn-outline-secondary">Изменить</a>
                        {% endif %}

                        {# Удалить может владелец ИЛИ модератор с общим правом на удаление #}
                        {% if user == product.owner or perms.catalog.delete_product %}
                        <a href="{% url 'catalog:product_delete' product.pk %}"
                           class="btn btn-sm btn-outline-danger">Удалить</a>
                        {% endif %}
                        {% endif %} {# Закрываем проверку авторизации #}
                    </div>

                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
